<ul *ngIf='users && users.length > 0'>
    <li *ngFor='let user of users'> {{user.name}}
      <ul>
        <li>{{user.phone}}</li>
        <li>{{user.website}}</li>
        <li>{{user.address.zipcode}}</li>
        <li>{{user.address.city}}-{{user.address.street}}</li>
        <li>
          <button (click)="GetPostForUser(user)">button({{user.name}})</button>
        </li>

        
        
       </ul>
    </li>
  </ul>


    <button (click)="PostPosts()">post</button>
  
 


  <ul *ngIf='posts && posts.length > 0'> 
    <li *ngFor='let post of posts'> {{post.title}}</li>  
  </ul> 
  <ul *ngIf='users && users.length > 0'>   
    <li *ngFor='let user of users'> {{user.name}}</li>  
  </ul>
<router-outlet></router-outlet>

